<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Remoção de Cliente </h1>
    <form action="/deleteUser" method="post">
        <p>Username:<input type="text" name="username" /></p>
        <p>CPF:<input type="text" name="userCpf" /></p>
        <p><input type="submit" value="Deletar" /></p>
    </form>
</body>
</html>