<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Cadastro de Usu&aacute;rio </h1>
    <form action="/updateUser" method="post">
        <p>Username:<input type="text" name="username" /></p>
        <p>CPF:<input type="text" name="userCpf" /></p>
        <p>Novo Username:<input type="text" name="username2" /></p>
        <p>novo CPF:<input type="text" name="userCpf2" /></p>
        <p><input type="submit" value="Atualizar" /></p>
    </form>
</body>
</html>