<!DOCTYPE html>
<html lang="en">

<body>
    <h1 class="text-center title-1"> Consulta Cidade </h1>
    <form action="/consultacep" method="post">
        <p>CEP:<input type="text" name="cep" /></p>
        <p><input type="submit" value="Consultar" /></p>
    </form>
</body>

</html>