<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Lista de Cidades </h1>
    <ul>
	<% cidadelist.forEach(function(cidade){ %>
		<li><a>CEP inválido</a></li>	
	<%})%>
    </ul>
</body>
</html>
